# build output
dist/**/*.html
dist/**/*.css
dist/**/*.json
dist/**/*.pf*
dist/**/*.page*
!dist/**/*.js
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# macOS-specific files
.DS_Store
